<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <!--DEBITAR-->
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Debitar puntos</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="formulario2">
            <!--NUESTRA CREACION-->
            <!--FILA 1-->
            <div class="row">
              <!--DOCUMENTO-->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Documento</label>
                  <input formControlName="documento2" type="text" class="form-control" placeholder="Documento">
                </div>
              </div>  
              <!--TIPO DE DOCUMENTO-->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Concepto de uso</label>
                  <select [(ngModel)]="listado" formControlName="concepto" class="form-control" required>
                    <option *ngFor="let concepto of listado" value="{{ concepto.id }}">{{ concepto.concepto_uso }}</option>
                  </select>
                  <!--<input formControlName="concepto"  type="text" class="form-control" placeholder="Concepto de uso">-->
                </div>
              </div>
            </div>
            <!-- FIN NUESTRA CREACION-->
          </form>
          <!--BOTONES-->
          <div class="button-container" style="text-align: center;">
            <!--CONFIRMAR-->
            <button (click)="debitarPunto()" href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
              <i class="now-ui-icons ui-1_check"></i>
            </button>
            <!--CANCELAR-->
            <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
