<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <!--REGISTRAR-->
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Registrar regla asignación de puntos</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="formulario">
            <!--NUESTRA CREACION-->
            <!--FILA 1-->
            <div class="row">
              <!--LIMITE INFERIOR-->
              <div class="col-md-3">
                <div class="form-group">
                  <label>Limite inferior</label>
                  <input formControlName="limiteInferior" type="number" class="form-control">
                </div>
              </div>
              <!--LIMITE SUPERIOR-->
              <div class="col-md-3">
                <div class="form-group">
                  <label>Limite superior</label>
                  <input formControlName="limiteSuperior" type="number" class="form-control">
                </div>
              </div>
              <!--MONTO EQUIVALENCIA-->
              <div class="col-md-3">
                <div class="form-group">
                  <label>Monto</label>
                  <input formControlName="equivalencia" type="number" class="form-control">
                </div>
              </div>
              <!--CANTIDAD PUNTOS-->
              <div class="col-md-3">
                <div class="form-group">
                  <label>Equivalencia en puntos</label>
                  <input formControlName="cantidad" type="number" class="form-control">
                </div>
              </div>
            </div>
            <!-- FIN NUESTRA CREACION-->
          </form>
          <!--BOTONES-->
          <div class="button-container" style="text-align: center;">
            <!--CONFIRMAR-->
            <button (click)="agregar()" href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
              <i class="now-ui-icons ui-1_check"></i>
            </button>
            <!--CANCELAR-->
            <button (click)="limpiarVista()" href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--LISTAR-->
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <!--LISTA CLIENTE-->      
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Lista reglas</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>Limite Inferior</th>
                <th>Limite Superior</th>
                <th>Monto Equivalencia</th>
                <th>Puntos</th>
              </thead>
              <tbody>
                <tr *ngFor="let xt of listado">
                  <td>{{xt.limite_inferior}}</td>
                  <td>{{xt.limite_superior}}</td>
                  <td>{{xt.monto_punto_equivalencia}}</td>
                  <td>{{xt.punto_equivalencia}}</td>
                </tr>
                <tr *ngIf="validar">
                  <td colspan="12" class="text-center">No hay registros</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--FIN LISTA CLIENTE-->
    </div>
  </div>
</div>
